*{
  -webkit-transition: .5s;
  transition: .5s;
}

.stage .container{
  display: table;
  width: 200px;
  height: 200px;
  padding: 3.6%;
  border-radius: 50%;
  background: #eee;
  text-align: center;
  box-shadow: 
    inset -2px -2px 3px white, 
    inset 2px 5px 3px #CCC, 
    2px 5px 2px #CCC;
  border: 4px solid #AAA;
}
#cells{
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  list-style-type: none;
}


#cells li{
  /*float:left;*/
  display: inline-block;
  margin: 5px;
  width: 1.5em;
  height: 1.5em;
  background: green;
  border-radius: 50%;
}
#cells li.dead{
  position: absolute;
  opacity: 0;
  top: -50px;
}